.length {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  margin: 30px 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
}

.length__title {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: -10px;
  left: 8px;
  font-size: 12px;
  font-weight: 800;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  transform: translateY(-50%);
}

.length::before,
.length::after {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #fff;
}

.length::before {
  content: attr(data-min);
  left: 15px;
  font-family: "Montserrat";
}

.length::after {
  content: attr(data-max);
  right: 10px;
  font-family: "Montserrat";
}

.length .length__title::after {
  content: attr(data-length);
  position: absolute;
  right: -16px;
  font-size: 12px;
  font-family: "Montserrat";
  font-variant-numeric: tabular-nums;
  color: #fff;
}

.range__slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 0%;
  margin: 10px 0;
}

.range__slider:focus {
  outline: none;
}

.range__slider::-webkit-slider-runnable-track {
  cursor: pointer;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  animation: 0.2s;
  background: #835f8b;
}

.range__slider:focus::-webkit-slider-runnable-track {
  background: #835f8b;
}

.range__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin-top: -4.5px;
  border: 1px solid #8a8a8a;
  border-radius: 22px;
  background: #fff;
  transition: all 0.15s ease-in-out;
}

.range__slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background: #d4d4d4;
}

.range__slider::-moz-range-track {
  cursor: pointer;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  animation: 0.2s;
  background: #835f8b;
}

.range__slider::-moz-range-thumb {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #8a8a8a;
  border-radius: 22px;
  background: #fff;
  transition: background 0.15s ease-in-out;
}

.range__slider::-moz-range-thumb:hover {
  background: #d4d4d4;
}

.range__slider::-ms-track {
  cursor: pointer;
  width: 100%;
  height: 10px;
  animation: 0.2s;
  color: transparent;
  background: transparent;
  border-color: transparent;
}

.range__slider::-ms-thumb {
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin-top: 1px;
  border: 1px solid #8a8a8a;
  border-radius: 22px;
  background: #fff;
}

.range__slider::-ms-fill-upper {
  border-radius: 20px;
  background: #835f8b;
}

.range__slider:focus::-ms-fill-upper {
  background: #835f8b;
}

.range__slider::-ms-fill-lower {
  border-radius: 20px;
  background: #835f8b;
}

.range__slider:focus::-ms-fill-lower {
  background: #835f8b;
}

@media (max-width: 1199px) {
  .range__slider {
    width: 88%;
  }
}

@media (max-width: 1024px) {
  .length::before,
  .length::after {
    font-size: 15.5px;
  }

  .length::before {
    left: 14px;
  }

  .length::after {
    right: 8px;
  }

  .length .length__title::after {
    right: -16px;
  }

  .range__slider {
    width: 88%;
  }
}

@media (max-width: 991px) {
  .length::before,
  .length::after {
    font-size: 15.5px;
  }

  .length::before {
    left: 14px;
  }

  .length::after {
    right: 8px;
  }

  .length .length__title::after {
    right: -16px;
  }

  .range__slider {
    width: 88%;
  }
}

@media (max-width: 768px) {
  .length::before,
  .length::after {
    font-size: 15px;
  }

  .length::before {
    left: 14px;
  }

  .length::after {
    right: 8px;
  }

  .length .length__title::after {
    right: -17px;
  }

  .range__slider {
    width: 87%;
  }
}

@media (max-width: 575px) {
  .length::before,
  .length::after {
    font-size: 14.5px;
  }

  .length::before {
    left: 14px;
  }

  .length::after {
    right: 8px;
  }

  .length .length__title::after {
    right: -17px;
  }

  .range__slider {
    width: 84%;
  }
}

@media (max-width: 425px) {
  .length__title {
    font-size: 11.5px;
  }

  .length::before,
  .length::after {
    font-size: 14px;
  }

  .length::before {
    left: 14px;
  }

  .length::after {
    right: 8px;
  }

  .length .length__title::after {
    right: -17px;
    font-size: 11.5px;
  }

  .range__slider {
    width: 78%;
  }
}

@media (max-width: 375px) {
  .length__title {
    font-size: 11px;
  }

  .length::before,
  .length::after {
    font-size: 13.5px;
  }

  .length::before {
    left: 14px;
  }

  .length::after {
    right: 10px;
  }

  .length .length__title::after {
    right: -17px;
    font-size: 11px;
  }

  .range__slider {
    width: 76%;
  }
}

@media (max-width: 320px) {
  .length__title {
    font-size: 10.5px;
  }

  .length::before,
  .length::after {
    font-size: 12.5px;
  }

  .length::before {
    left: 14px;
  }

  .length::after {
    right: 10px;
  }

  .length .length__title::after {
    right: -17px;
    font-size: 10.5px;
  }

  .range__slider {
    width: 74%;
  }
}
