.result {
  position: relative;
  width: 100%;
  height: 75px;
}

.result__title {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: -10px;
  left: 8px;
  font-size: 12px;
  font-weight: 800;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  transform: translateY(-50%);
}

.result__box {
  width: 100%;
  height: 100%;
  line-height: 75px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.08);
}

@media (max-width: 1199px) {
  .result__box {
    font-size: 21px;
  }
}

@media (max-width: 1024px) {
  .result__box {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .result__box {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .result__box {
    font-size: 18.5px;
  }
}

@media (max-width: 575px) {
  .result__box {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .result__title {
    font-size: 11.5px;
  }
  
  .result__box {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .result__title {
    font-size: 11px;
  }

  .result__box {
    font-size: 13px;
  }
}

@media (max-width: 320px) {
  .result__title {
    font-size: 10.5px;
  }

  .result__box {
    font-size: 12px;
  }
}
