.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav li {
  margin: 14px;
  font-family: "Montserrat";
}

.nav a {
  font-size: 22px;
  font-family: "Montserrat";
  text-decoration: none;
  color: #fff;
}

.nav a:focus {
  outline: none;
}

.nav a:hover,
.nav a:active {
  color: #f3cafb;
}

@media (max-width: 1199px) {
  .nav a {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .nav a {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .nav a {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .nav a {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .nav a {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .nav a {
    display: none;
  }
}

@media (max-width: 375px) {
  .nav a {
    display: none;
  }
}

@media (max-width: 320px) {
  .nav a {
    display: none;
  }
}
