* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    20deg,
    rgba(131, 95, 139, 1) 0%,
    rgba(92, 31, 99, 1) 98%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  margin: 0 20px;
  color: #fff;
  font-size: 2rem;
  transition: all 400ms ease;
}

a:hover {
  color: #222;
}

button {
  border: 0;
  outline: 0;
}
