.card {
  width: 50em;
  height: 38em;
  margin: 40px 0;
  padding: 60px 35px;
  border-radius: 35px;
  background: #0a0e31;
  font-family: "Montserrat";
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35),
    0 8px 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1199px) {
  .card {
    width: 48em;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 46em;
  }
}

@media (max-width: 991px) {
  .card {
    width: 44em;
  }
}

@media (max-width: 768px) {
  .card {
    width: 37em;
  }
}

@media (max-width: 575px) {
  .card {
    width: 30em;
    padding: 60px 32px;
  }
}

@media (max-width: 425px) {
  .card {
    width: 22em;
    height: 37em;
    padding: 45px 28px;
    border-radius: 26px;
  }
}

@media (max-width: 375px) {
  .card {
    width: 20em;
    height: 37em;
    padding: 40px 24px;
    border-radius: 22px;
  }
}

@media (max-width: 320px) {
  .card {
    margin: 40px 0;
    width: 18em;
    height: 37em;
    padding: 45px 15px;
    border-radius: 20px;
  }
}