.card {
  margin: 40px 0;
  width: 50em;
  height: 40em;
  padding: 60px 35px;
  background: #0a0e31;
  border-radius: 35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35),
    0 8px 12px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat";
}
